.container{
    width: 90%;
    margin: 10px auto;
}
.carousel{
    border: 2px solid #ccc;
    height: 400px;
}
.slider{
    height: 100px;
    display: flex;
}
.slider section{
    flex-basis: 100%;
}